AI-Powered Chatbot using RAG.json
{
  "name": "AI-Powered Chatbot using RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "30ea5b93-3fb4-41b6-8437-1778c47f2b41",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "webhookId": "rag-chatbot-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput}}",
        "options": {
          "systemMessage": "You are a helpful assistant for TechNova Inc. Use the knowledge base tool to find relevant information before answering. If the knowledge base doesn't contain the answer, say so honestly instead of guessing."
        }
      },
      "id": "d6d491d5-ecc3-419f-86c3-faba2f122594",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "f23a062d-61cb-4e4b-a1c2-3f56b8cb4524",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}",
        "contextWindowLength": 10
      },
      "id": "06a7ab56-91cd-4394-a646-e9e348560476",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        240
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "technova_knowledge_base",
        "toolDescription": "Search the TechNova knowledge base for information about the company, its products, pricing plans, and support before answering.",
        "memoryKey": "technova_kb"
      },
      "id": "3c0cb8dc-986e-41db-b75f-d86c5fbecf12",
      "name": "Knowledge Base Retriever",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        672,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "342c47c8-a449-4278-8dcb-2b174fc918da",
      "name": "Embeddings (Retrieve)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {},
      "id": "b1000001-0000-4000-8000-000000000001",
      "name": "Load Knowledge Base",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faq-text-field",
              "name": "text",
              "value": "TechNova Inc. is a software company founded in 2020, based in Lahore, Pakistan. TechNova builds AI-powered automation tools for small businesses. TechNova's main product is called FlowBot, a no-code workflow automation platform. TechNova offers three pricing plans: Starter ($19/month), Pro ($49/month), and Enterprise (custom pricing). TechNova's support team is available Monday to Friday, 9 AM to 6 PM PKT, and can be reached at support@technova.example.com.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b6d561-3a6a-40d1-b341-173539beeb01",
      "name": "TechNova FAQ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "technova_kb",
        "clearStore": true
      },
      "id": "b1000002-0000-4000-8000-000000000002",
      "name": "Knowledge Base Ingest",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        1264,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1000003-0000-4000-8000-000000000003",
      "name": "Embeddings (Ingest)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "b1000004-0000-4000-8000-000000000004",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1328,
        240
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40,
        "options": {}
      },
      "id": "b1000005-0000-4000-8000-000000000005",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Retriever": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (Retrieve)": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Load Knowledge Base": {
      "main": [
        [
          {
            "node": "TechNova FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechNova FAQ": {
      "main": [
        [
          {
            "node": "Knowledge Base Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (Ingest)": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Ingest",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Knowledge Base Ingest",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f140f1a3-e279-4448-9ffb-ce66e5258daa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9355ac6d491704c9f1acfceb3483709d696ae427a57332a0637dcd10b5787ad"
  },
  "nodeGroups": [],
  "id": "jh9FA232rV8N1nfi",
  "tags": []
}
